input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color:red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

div {
    border-radius: 5px;
    background-color:white;
    padding: 40px;
}
.container--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1235px;
;

  }
  .main-header {
    padding: 0 15px;
   
  }
  .main-title {
    color:black;
  }
  .color-span{
    color: red;
  }
  .main-header {
    padding: 0 15px;
  }
  .main-title {
    color:black;
  }
  .color-span{
    color: red;
  }
  .main{
    margin-top: 350px;
  }
  .copy{
    background: #211E1E;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
  }
  h1{
    text-align: center;
  }
  